/* ================================
   VEHICLE REGISTRY
================================ */

.page-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.page-header h1{
    color:#fff;
    font-size:30px;
    font-weight:600;
}

#addBtn{
    background:#2563eb;
    color:#fff;
    border:none;
    padding:12px 22px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    transition:.3s;
}

#addBtn:hover{
    background:#1d4ed8;
}

/* Toolbar */

.toolbar{
    display:flex;
    gap:15px;
    margin-bottom:20px;
}

.toolbar input,
.toolbar select{
    flex:1;
    padding:12px;
    border:1px solid #333;
    border-radius:8px;
    background:#1f2937;
    color:#fff;
    outline:none;
}

/* Form */

.form-box{
    display:none;
    background:#1f2937;
    padding:25px;
    border-radius:10px;
    margin-bottom:25px;
}

.form-box h2{
    margin-bottom:20px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:18px;
}

.grid input,
.grid select{
    width:100%;
    padding:12px;
    border-radius:8px;
    border:1px solid #444;
    background:#111827;
    color:#fff;
}

.buttons{
    display:flex;
    gap:15px;
    margin-top:20px;
}

#save{
    flex:1;
    background:#16a34a;
    color:#fff;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
}

#cancel{
    flex:1;
    background:#dc2626;
    color:#fff;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
}

/* Table */

.table-box{
    background:#1f2937;
    border-radius:10px;
    overflow:hidden;
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#111827;
}

th{
    color:#fff;
    padding:15px;
    text-align:left;
}

td{
    padding:15px;
    border-top:1px solid #333;
    color:#e5e7eb;
}

tbody tr:hover{
    background:#2b3648;
}

/* Status */

.status{
    padding:6px 12px;
    border-radius:20px;
    color:#fff;
    font-size:12px;
    font-weight:600;
}

.available{
    background:#22c55e;
}

.trip{
    background:#2563eb;
}

.shop{
    background:#f59e0b;
}

.retired{
    background:#ef4444;
}

/* Action Buttons */

.edit-btn{
    background:#2563eb;
    color:#fff;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
    margin-right:8px;
}

.delete-btn{
    background:#dc2626;
    color:#fff;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
}

.edit-btn:hover{
    background:#1d4ed8;
}

.delete-btn:hover{
    background:#b91c1c;
}

.empty{
    text-align:center;
    color:#9ca3af;
    padding:30px;
}

@media(max-width:900px){

.grid{
grid-template-columns:1fr;
}

.toolbar{
flex-direction:column;
}

table{
display:block;
overflow-x:auto;
}

}

@media(max-width:600px){

.page-header{
flex-direction:column;
align-items:flex-start;
gap:15px;
}

.buttons{
flex-direction:column;
}

}